/* Base Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  text-align: center;
  line-height: 1.5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
 
}

img {
  width: 100%;
  padding: 13px;
}

.main-header, #contact  {
  background-color: rgb(245, 245, 242);
  padding: 13px;
  
}

#contact {
  margin-top: 21px;
}

.main-nav li {
  list-style: none;
  background-color: white;
  padding: 8px;
  margin: 5px;
  text-transform: uppercase;
  
  
}

p {
  margin: 3px 0 21px 0;
  width: 89%;
  display: inline-block;
  hyphens: auto;
}

h1, h2, h3 {
  margin: 21px;
}

h2 {
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: red;
}



ul {
 padding: 0;

}

.profile-img {
  width: 100%;
  padding: 21px;
}

footer {
  padding: 13px;
  border-top: 1px solid rgb(211, 209, 209);
 
  
}

.foot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-nav {
  display: flex;
}


.none {
  display: none;
}


.foot-nav li {
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

}

#portfolio {
  padding-top: 13px;
}

span {
  font-weight: bold;
  color: red;
}

.skills-container {
  background: linear-gradient(90deg, rgb(247, 249, 247), rgb(227, 217, 184));
  font-family: "Caveat Brush", cursive;
  font-size: 1.21rem;
  
}

.my-skills li {
  list-style: none;
  padding: 2px;
  margin: 2px;
  text-transform: uppercase;
}

.skill-color {
  color: rgb(187, 109, 30);
}


/* Media Queries */

@media screen and (min-width: 768px) {
  .container, .main-nav, .intro-container, .portfolio-container, .skills-container, .my-skills, .none {
    display: flex; 
  }

  .none,  h4 {
    padding: 8px;
    margin: 5px;
  }

  .top {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

   .main-nav li {
    background-color: rgb(245, 245, 242);
  }

  .main-nav {
    margin: 0 0 13px 0;
  }

  .intro {
    flex: 1;
  }

  .welcome {
   text-align: left;
   font-size: 1.13rem;
   padding: 8px;
   flex: 2;
  }
  
  .profile-img {
    order: 1;
    padding: 8px;
    width: 50%;
  }

  .portfolio-container {
    flex-wrap: wrap;
  }

  .port {
    flex: 1 50%;
  }

   .skills-container {
  align-items: center;
  justify-content: center;
}

.my-skills li {
  padding: 5px;
  margin: 5px;
}


 }

 @media screen and (min-width: 1024px) {
 
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    margin-left: 0px;
    padding: 8px;
  }
 
   .port {
    flex: 1 33%;
  }

  .my-skills li {
    padding: 8px;
    margin: 8px;
  }

  .none,  h4 {
    padding: 13px;
    margin: 8px;
  }

 }